<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    socket.on("msg", msg => {
        M.toast({
            html: `<span>${msg.message}<br>-${msg.fname} ${msg.lname}</span>`
        });
    });
    socket.on("withdraw", data => {
        console.log(data);
        M.toast({
            html: `<span>Withdraw request by ${data.user.fname} ${data.user.lname}</span>`
        });
    });
    // socket.on('connect', function() {
    //     socket.emit('join', {
    //         email: 'user@example.com'
    //     });
    // });
    // socket.on('user@example.com', data => {
    //     console.log(data.msg);
    // });
</script>